
@{
    ViewBag.Title = "northwind tietokanta";
}

<h2>Kaikki tiedot</h2>

<table class="table table-bordered" id="customertable">
    <thead>
        <tr>
            <td>Käyttäjä ID</td>
            <td>yhtiö</td>
            <td>Kontakti</td>
            <td>Nimike</td>
            <td>Osoite</td>
            <td>kaupunki</td>
            <td>alue</td>
            <td>postinumero</td>
            <td>Maa</td>
            <td>Puhelinnumero</td>
            <td>Fax</td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>


