@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>pohjoistuuli tietokannan tutkintaa</h1>
    <p class="lead">alla olevasta painikkeesta saat kaikki tietokannassa olevat tiedot</p>
    <p><a href="@Url.Action("Index", "Customer")" class="btn btn-primary btn-lg">Näytä taulu &raquo;</a></p>
</div>

<div class="row">
</div>